$mainColor: #148bb2;

body {
	font-family: 'Roboto', 'Noto Serif JP', serif;
	color: #333;
	line-height: 2;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #333;
	&:hover {
		color: $mainColor;
	}
}

ul {
	list-style-type: none;
}

@media screen and (max-width: 767px) {
	.logo {
		font-size: 1.5rem;
	}
}

section {
	position: relative;
	margin: 6rem 0;
}

@media screen and (max-width: 767px) {
	section {
		margin: 2rem 0 0 0;
	}
}

.active {
	padding-bottom: 4px;
	// border-bottom: 4px solid $mainColor;
}

.hero {
	background: url(../img/hero.png) no-repeat;
}

.service-bg {
	background: url(../img/service-bg.jpg) no-repeat;
}

.price-bg {
	background: url(../img/price-bg.jpg) no-repeat;
}

.about-bg {
	background: url(../img/about-bg.jpg) no-repeat;
}

.single-bg {
	background: url(../img/single-bg.jpg) no-repeat;
}

.contact-bg {
	background: url(../img/contact-bg.jpg) no-repeat;
}

.main-bg {
	width: 100vw;
	height: 50vh;
	background-position: center center;
	// background-size: cover;
	background-size: contain;
}

.service_box {
	img {
		width: 70%;
		border-radius: 50%;
	}
}

footer {
	padding: 4rem 0;
	background: $mainColor;
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: #eee;
		}
	}
}

@media screen and (max-width: 767px) {
	.list-unstyled {
		li {
			margin-bottom: 0.5rem;
		}
	}
}

.sub-image {
	margin-top: 6rem;
	img {
		width: 70%;
		margin: 0 auto;
	}
}

.tab-content {
	h2 {
	}
	h3 {
		border-left: 8px solid $mainColor;
	}
	h4 {
		color: $mainColor;
	}
	h5 {
		font-weight: bold;
	}

	ol {
		padding-left: 3.5rem;
	}
}

.wpcf7 {
	label,
	input,
	textarea {
		width: 100%;
		padding: 0.2rem;
	}
	input[type='submit'] {
		padding: 1rem 0;
		background: $mainColor;
		color: #fff;
		border: none;
		font-size: 1.2rem;
	}
}
